<form>
  <table class="table  table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone number</td>
      <td>Date of Birth</td>
      <td>Message</td>
      <td>Website url</td>
    </tr>

    <tr *ngFor="let getuser of getusers">
      <td>{{getuser.id}}</td>
      <td>{{getuser.Name}}</td>
      <td>{{getuser.Email}}</td>
      <td>{{getuser.Mobile}}</td>
      <td>{{getuser.dob}}</td>
      <td>{{getuser.Message}}</td>
      <td>{{getuser.Website}}</td>

    </tr>
  </table>


</form>