<h1 >Post The Users</h1>
<div align="center">
  <div class="conatiner-fluid">
    <div class="row">
      <div class="col-md-10">
        <table>

          Phone Number:
          <input class="form-control" type="number" #Mobile="ngModel" name="Mobile" [(ngModel)]="Users.Mobile">
          <br>
          Date of Birth:
          <input type="date" onkeydown="return false" min="1950-01-01" max="2010-12-31" name="dob" #dob=ngModel
            [(ngModel)]="Users.dob" class="form-control" />
          <br>
          Message:
          <input class="form-control" type="text" #Message="ngModel" name="Message" [(ngModel)]="Users.Message">
          <br>
          Website URL:
          <input type="text" #Website="ngModel" name="Website" [(ngModel)]="Users.Website">
          <br>

          <button class="form-control" (click)="submit()"><b>submit</b></button>

        </table>

      </div>
    </div>
  </div>
</div>

<!-- <app-login [mobileNum]="Users.Mobile"></app-login> -->