<h1>Post The Users</h1>
<div align="center">
  <div class="conatiner-fluid">
    <div class="row">
      <div class="col-md-10">
        <table>
          Name:<input class="form-control" type="text" #Name="ngModel" name="Name" [(ngModel)]="Users.Name">
          <br>
          Email:
          <input class="form-control" type="text" #Email="ngModel" name="Email" [(ngModel)]="Users.Email">
          <br>

          <button class="form-control" (click)="submit()"><b>Next</b></button>

        </table>

      </div>
    </div>
  </div>
</div>